<div class="page">
  <header>
  <div class="row aboutBanner">
  </div>
  <div class="row aboutHeader">
    <h1>About Us</h1>
  </div>
  </header>
  <main>
  <div class="row">
    <div class="col m8 offset-m2 aboutContent">
       Car Meets is a website that is dedicated to helping needy car owners find meets created by like-minded car lovers in their own area. Here you are able to post upcoming meets and view them and see who all is going.
       <br>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque faucibus lectus vitae sem fermentum, id dignissim sem luctus. Suspendisse ac nisl fringilla, suscipit ipsum at, faucibus enim. Donec iaculis purus in nisi commodo bibendum. Suspendisse efficitur tempus sem at elementum. Sed vitae scelerisque diam, ut lobortis mauris. Aliquam leo est, dignissim non risus sed, rhoncus aliquet sem. Sed euismod dui at vestibulum sodales. Nunc malesuada finibus urna, eget fermentum orci rhoncus at. Proin egestas sapien et gravida suscipit. Donec vel nisl nec felis pulvinar lacinia vel viverra dui. Fusce volutpat placerat lectus sed ultrices. Morbi hendrerit eget leo et egestas. Vivamus dictum massa et ex mattis, ac tristique augue varius. Praesent luctus accumsan dolor in lacinia. Aliquam feugiat leo dictum aliquet vulputate.
        <br>
        Duis vehicula tortor non ex volutpat, ut eleifend nisl condimentum. Maecenas commodo luctus nibh. Donec consequat quis elit at venenatis. Fusce hendrerit lacus quam, vitae mollis lacus ullamcorper nec. Pellentesque scelerisque gravida blandit. Sed sit amet sodales arcu. Sed molestie risus scelerisque nisl hendrerit vehicula. Nullam maximus neque at eros imperdiet gravida. Quisque vulputate felis nec ante suscipit laoreet scelerisque tristique nisl. Aliquam erat volutpat. Nunc ac lectus elit. Nullam sagittis ex a purus vulputate eleifend. Nulla molestie massa non tortor gravida, sit amet sodales felis lobortis. Quisque ac dolor mauris. Curabitur pharetra sodales ex, id aliquam metus hendrerit vitae. Sed nec tempor ex.
        <br>
        Donec convallis consectetur arcu nec rutrum. Vestibulum maximus enim ac leo vestibulum vestibulum. Sed faucibus ultricies dictum. Sed faucibus, est non bibendum eleifend, elit ligula sodales felis, a vulputate neque lacus non odio. Cras vulputate malesuada accumsan. Praesent ornare id dui vel posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vel tellus dictum, vestibulum lorem non, auctor ex.
        <br>
        Nam turpis eros, viverra non tincidunt et, maximus et odio. Curabitur pulvinar purus at libero convallis blandit. Mauris lacinia cursus sapien. Cras blandit tincidunt sodales. Nunc vel varius est. Donec laoreet lectus in lorem sodales, a commodo justo egestas. Fusce ultricies, eros ac sodales dictum, est magna luctus arcu, hendrerit eleifend risus dui non justo. Vivamus ullamcorper porta urna ac rhoncus.
        <br>
        Maecenas rhoncus viverra elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce venenatis dui eget cursus sollicitudin. Phasellus fermentum fermentum dui, ut volutpat lorem ornare at. Donec bibendum porta massa, mollis lobortis nunc aliquet in. Suspendisse fermentum malesuada lectus, eu placerat nunc hendrerit et. Mauris ullamcorper scelerisque ex, at molestie dolor. Phasellus in vestibulum tortor. Sed a risus odio.
        <br>
        Ut rutrum non nunc quis sodales. Suspendisse fringilla felis est. Nunc nec posuere felis, ac commodo ex. Duis rutrum ipsum eu nisi pretium lacinia. Nullam vitae dui eu elit facilisis suscipit quis sed ex. Nunc varius mauris sed lorem hendrerit, at vehicula odio bibendum. Curabitur hendrerit enim a imperdiet fermentum. Sed quis vulputate justo.
        <br>
        Donec bibendum augue semper odio cursus, ac dictum nunc dapibus. Proin eget rhoncus magna, vel dapibus enim. Donec at ante vel ligula scelerisque semper. Duis sed libero sed augue lacinia lobortis et id magna. Nunc viverra nisi nulla, in vestibulum dui condimentum ac. Pellentesque id libero ut justo faucibus interdum a quis ante. Ut suscipit urna a posuere consectetur. Etiam condimentum, magna porta egestas iaculis, enim orci bibendum velit, quis posuere sem ipsum in ante. In justo mauris, pellentesque eu tempus ac, pellentesque eget purus. Pellentesque vitae vulputate enim.
      </div>
    </div>
  </main>
  <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
  </footer>
</div>
