<div class="row addForm">
    <form class="col s12" [formGroup]="newMeetForm">
      <div class="row">
        <div class="input-field col s6">
          <textarea id="title" class="materialize-textarea" formControlName="title"></textarea>
          <label for="title">Title</label>
        </div>
        <div class="input-field col s6">
          <textarea id="location" class="materialize-textarea" formControlName="location"></textarea>
          <label for="location">Meet Location</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="input-field col s12">
          <textarea rows="25" id="info" type="info" class="validate materialize-textarea" formControlName="info" data-length="500"></textarea>
          <label for="time">Meet Info</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="input-field col s6">
          <input id="time" type="time" class="timepicker" formControlName="time">
          <label class="active" for="time">Time of Meet</label>
        </div>
        <div class="input-field col s6">
          <input id="date" type="text" class="datepicker" formControlName="date" materialize="pickadate">
          <label for="date">Date of Meet</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="input-field col s6">
          <input id="creator" type="text" class="validate" formControlName="creator">
          <label for="creator">Name of Meet Organizer</label>
        </div>
        <div class="input-field col s6">
          <input id="image" type="url" class="validate" formControlName="image">
          <label for="image">Image URL of Location</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="input-field col s12">
          <label for="attendingGoal">Turn Out Goal</label>
          <br>
          <p class="range-field">
            <input [(ngModel)]="attendingGoal" (change)="showGoal(attendingGoal)" type="range" id="attendingGoal" min="2" max="1000" step="2" formControlName="attendingGoal"/>
          </p>
          <div class="currentSelectedGoal">
            <strong class="test">{{selectedGoal}}</strong>
          </div>

        </div>
      </div>

      <br>
      <div class="row formButton">
        <button class="btn waves-effect waves-light center" (click)="addMeet()">Add Meet</button>
      </div>
    </form>
  </div>

  <div id="loseModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="warnAction">
    <div class="modal-content">
      <h4 class="center-align">Uh Oh! You Forgot Something</h4>
      <p class="center-align">Please check over the form, it appears you forgot something</p>
    </div>
    <div class="modal-footer">
      <a class="waves-effect modal-close waves-green btn-flat center-align" (click)="warnModal()">Play Again</a>
    </div>
  </div>
