<div class="page">
  <header>
    <div class="banner">

    </div>
  </header>
  <main>
    <div class="container">
      <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' data-beloworigin="true" data-activates='dropdown1'>Search By</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a (click)="filterBy('time', '09:00')">one</a></li>
    <li><a (click)="filterBy('All')">two</a></li>
    <li class="divider"></li>
    <li><a (click)="filterBy('none', 'test')">three</a></li>
  </ul>
      <div *ngFor="let meet of meets | async | filter:filterSelected:value">
        <div class="col s10 m6 offset-s1">
          <h2 class="header">{{meet.title}}</h2>
          <p class="dateTime">{{meet.time}} on {{meet.date}}</p>
          <div class="card horizontal">
            <div class="card-image">
              <img src={{meet.image}}>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>{{meet.info}}</p>
              </div>
              <div class="card-action">
                <a (click)='viewMeet(meet)'>More Info</a>
                <a (click)='editMeet(meet)'>test</a>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </main>
  <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
  </footer>
</div>
